coverage
flask==2.3.2
flask-script==2.0.6
flask-restplus==0.13.0
flask-migrate==2.5.2
flask_bcrypt
flask_cors
flask_mail
flask_login
flask_bcrypt
flask_cors
flask_mail
flask_login
flask_sqlalchemy
flask_testing
flask_user
pyjwt
psycopg2
werkzeug==0.16.0